* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("imgs/kitten-large.png"), url("imgs/dawn.png");
  background-repeat: no-repeat;
  background-size: 50%, cover;
  background-position: bottom;
}

@media screen and (max-width: 900px) {
  main {
    background-image: url("imgs/kitten-medium.png"), url("imgs/sunny-day.jpg");
  }
}

@media screen and (max-width: 400px) {
  main {
    background-image: url("imgs/kitten-small.png"), url("imgs/night.jpg");
  }
}
